.bm-menu {
}

.bm-item-list {
  background: #fafafa;
  list-style: none;
  height: auto !important;
  min-height: 100%;
}

.bm-item {
}

.bm-title {
  font-weight: bold;
  display: block;
  color: #333;
}

.bm-title:hover {
  color: #333;
}

.menu-item {
  display: block;
  padding-left: 24px;
  color: #888;
}

.menu-item:hover {
  color: #444;
}
